.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-item.first::after,
.carousel-item.last::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; /* This covers half of the item for the fade effect */
  pointer-events: none;
  z-index: 1;
}

.carousel-item.first::after {
  right: 0;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 1) 50%);
}

.carousel-item.last::after {
  left: 0;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 1) 50%
  );
}
